<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.run.recommenu">

    <uses-permission android:name="android.permission.INTERNET"/>



    <application
        android:name="com.run.recommenu.RMenuApplication"
        android:allowBackup="true"
        android:icon="@drawable/teisyoku"
        android:label="@string/app_name"
        android:roundIcon="@drawable/teisyoku"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.run.recommenu.VegeActivity"></activity>
        <activity android:name="com.run.recommenu.ResultActivity" />
        <activity android:name="com.run.recommenu.ChoiceActivity" />
        <activity android:name="com.run.recommenu.PastActivity" />
        <activity android:name="com.run.recommenu.EmotionActivity" />
        <activity android:name="com.run.recommenu.FoodActivity" />
        <activity android:name="com.run.recommenu.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>